@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* GENERAL */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-size: 12px;
    font-family: 'Oswald',corbel,calibri,sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 46px;
    background-color: aquamarine; 
}
.navlink{
    padding: 46px;
}
/* HEADER */

header{
    background-color: #f2f2f2;
    height: 72px;
}
.brand{
    text-indent: 10px;
}

