@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* GENERAL */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-size: 12px;
    font-family: 'Oswald',corbel,calibri,sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    height: 46px;
    background-color: aquamarine; 
}
ul{
    width: 100%;
}
li{
    width: 180px;
    list-style: none;
}
a{
    text-decoration: none;
}
/* HEADER */

header{
    background-color: #f2f2f2;
    height: 72px;
}
.brand{
    text-indent: 10px;
}

