@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-size: 12px;
    font-family: 'Oswald',corbel,calibri,sans-serif;
}
header{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    height: 72px;
}
.brandBar{
    display: flex;
    align-items: center;
    width: 100%;
}
.headerBloc{
    margin: 5px;
}
.headerBloc2{
   height: 50px;
   width: 500px;
   background-color: grey;
}
